# tool installation
xposit-tools/

# binary outputs
*.o
*.elf
pk

# Research Project Artifacts
posit-research/vivado_proj/
posit-research/reports/
posit-research/**/*.log
posit-research/**/*.jou
posit-research/**/*.csv
posit-research/**/*.str
posit-research/**/.Xil/
posit-research/xvlog.pb
