# tool installation
xposit-tools/

# binary outputs
*.o
*.elf
pk

# PAWN Artifacts
PAWN/vivado_proj/
PAWN/reports/
PAWN/**/*.log
PAWN/**/*.jou
PAWN/**/*.csv
PAWN/**/*.str
PAWN/**/.Xil/
PAWN/xvlog.pb
PAWN/vivado

# libpawn
libpawn/build
